* {
  margin: 0;
 
}

.Main1 {
  height: 100vh;
  width: 100vw;
  background-color: blueviolet;
}
#Main1_Image {
  height: 100vh;
  width: 100vw;
}
.Main1 img {
  width: 100%;
}
.sub11 {
  position: absolute;
  right: 50px;
  top: 50px;
}

.sub11 img {
  width: 200px;
}
.sub12 {
  position: absolute;
  left: 70px;
  top: 20px;
}
.sub12 img {
  width: 300px;
}
.sub13 {
  font-size: xx-large;
  position: absolute;
  left: 70px;
  top: 250px;
  color: silver;
}
.sub13 td {
  padding-bottom: 40px;
  transition: all 0.5s ease;
}
.sub14 {
  transition: all 1s ease-in-out;
  font-size: 70px;
  text-align: center;
  position: absolute;
  bottom: 15vh;
  width: 80vw;
  left: 5vw;
  color: silver;
  opacity: 0.5;
}
.Main1:hover .sub14 {
  opacity: 1;
  bottom: 5vh;
  left: 10vw;
}
span {
  color: red;
}
.sub13 td:hover {
  padding-left: 40px;
  color: red;
}

.Main2 {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

.sub21 {
  position: absolute;
  width: 50vw;
  height: 50vh;
  font-size: x-large;
  color: white;
  text-align: center;
  padding-top: 50vh;
  justify-content: center;
  background-color: black;
  left: 0vw;
  align-items: center;
}

.sub22 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50vw;
  transition: all 2s ease;
}
.sub22 img {
  width: 100vw;
  height: 100vh;
}
.Main2:hover .sub22 {
  left: 0vw;
  transition: all 3s ease-in-out;
}
.sub23 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  transition: all 1s ease-in-out;
}
.sub23 img {
  width: 100vw;
  height: 100vh;
}
.Main2:hover .sub23 {
  left: 0vw;
  transition-delay: 3s;
}
