body {
  margin: 0px;
}
.Main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
}
.sub1 {
  position: absolute;
  top: 10vh;
  right: 10vw;
  width: 70vw;
  height: 80vh;
  background-color: aliceblue;
}
.sub2 {
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 30vw;
  height: 50vh;
  background-color: rgb(78, 12, 233);
  border-radius: 80px 20px 80px 20px;
  font-size: 15px;
  padding-left: 20px;
  color: aliceblue;
}
.sub3 {
  position: absolute;
  top: 30vh;
  right: 15vw;
  width: 30vw;
  height: 50vh;
  background-color: rgb(78, 12, 233);
  border-radius: 80px 20px 80px 20px;
}
.sub3 img {
  width: 90%;
  height: 90%;
  border: solid aliceblue 3px;
  border-radius: 80px 20px 80px 20px;
  margin-left: 5%;
  margin-top: 5%;
}
.sub4 {
    display: none;
  position: absolute;
  top: 30vh;
  right: 15vw;
  width: 30vw;
  height: 50vh;
  background-color: rgb(78, 12, 233);
  border-radius: 80px 20px 80px 20px;
}
.sub4 img {
  width: 90%;
  height: 90%;
  border: solid aliceblue 3px;
  border-radius: 80px 20px 80px 20px;
  margin-left: 5%;
  margin-top: 5%;
}
.sub2 button {
  width: 180px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  font-size: large;
  border-radius: 20px 5px 20px 5px;
  color: dodgerblue;
  font-weight: bolder;
  border: solid aliceblue 3px;
}
.sub2 span {
  font-size: 25px;
  font-weight: bolder;
  color: rgb(7, 238, 238);
}
